extends layout

mixin formGroup(labelText, id, inputType, placeholder, name, value, required)
    div.form-group
         label.mt-3(for=id) #{labelText}:
         input.form-control(id=id, type=inputType, placeholder=placeholder, name=name, required=required, value=value)

block content
    h1= title

    form(method='POST' action='')
        +formGroup('First Name', 'first_name', 'text', 'First Name', 'first_name', (author.first_name !== '' ? author.first_name : ''), true)
        +formGroup('Family Name', 'family_name', 'text', 'Family Name', 'family_name', (author.family_name !== '' ? author.family_name : ''), true)
        +formGroup('Date of Birth', 'date_of_birth', 'date', '', 'date_of_birth', (author.date_of_birth ? author.date_of_birth.toISOString().split('T')[0] : ''), false)
        +formGroup('Date of Death', 'date_of_death', 'date', '', 'date_of_death', (author.date_of_death ? author.date_of_death.toISOString().split('T')[0] : ''), false)
        button.btn.btn-primary.mt-3(type='submit') Submit

    if errors
        ul.mt-4
            each error in errors
                if error
                    li= error

    // Path: views/author_form.pug