extends layout

block content
    h1= 'Title: ' + book.title

    if book_instances.length
        p.mt-5 Cannot delete this title. The following instances are associated with it.

        div.ml-3.mt-3
        table(class='table table-striped')
            thead
                th imprint
                th status
            each book_instance in book_instances
                tr
                    td
                        a(href=book_instance.url) #{book_instance.imprint}
                    td #{book_instance.status}
    else
        p Do you really want to delete this Book?

        form(method='POST' action='')
            div.form-group
                input#bookid.form-control(type='hidden', name='bookid', required='true', value=book._id)

            button.btn.btn-danger(type='submit') Delete
            button.btn.btn-secondary.ml-3(type='button' onclick='location.href="/catalog/books"') Cancel

    // Path: views/book_delete.pug