extends layout

block content
    h1= title

    p #[strong Author:]&nbsp;
        a(href=book.author.url) #{book.author.name}
    p #[strong Summary:]&nbsp;#{book.summary}
    p #[strong ISBN:]&nbsp;#{book.isbn}
    p #[strong Genre:]&nbsp;
        each val, index in book.genre
            a(href=val.url) #{val.name}
            if index < book.genre.length - 1
                | ,

    div(style="margin-left:20px; margin-top:20px")
        h4 Copies

        each val in book_instances
            hr
            if val.status==='Available'
                p.text-success #{val.status}
            else if val.status==='Maintenance'
                p.text-danger #{val.status}
            else
                p.text-warning #{val.status}
            p #[strong Imprint:] #{val.imprint}
            if val.status!=='Available'
                p #[strong Due back:] #{val.due_back}
            p #[strong Id:]
                a(href=val.url) #{val._id}

        else
            p No copies found
