extends layout

block content
    h1= title

    dl
        each book in genre_books
            dt
                a(href=book.url) #{book.title}
            dd #{book.summary}

        else
            p There are no titles associated with this genre

        hr.mb-5
        button.btn.btn-danger
            a.text-white(href=genre.url + '/delete') Delete Genre
        button.btn.btn-secondary.ml-3
            a.text-white(href=genre.url + '/update') Update Genre